:root{ --dominant-color: #9EB3C2; --primary-color: #21295C; --secondary-color: #1C7293; --success-color: #20AC6B; --danger-color: #AE1E2C; --warning-color: #CC9900; --info-color: #0AA3C2; --dominant-text: #000000; --primary-text: #FFFFFF; --secondary-text: #FFFFFF; --success-text: #FFFFFF; --danger-text: #FFFFFF; --warning-text: #000000; --info-text: #FFFFFF;}

/* Styling for the websites navbar */
.cid-tTq0TJqiE3  {
    z-index: 1000;
    width: 100%;
    position: relative;
  }
  .cid-tTq0TJqiE3  .dropdown-item:before {
    font-family: Moririse2 !important;
    content: "\e966";
    display: inline-block;
    width: 0;
    position: absolute;
    left: 1rem;
    top: 0.5rem;
    margin-right: 0.5rem;
    line-height: 1;
    font-size: inherit;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    transform: scale(0, 1);
    transition: all 0.25s ease-in-out;
  }
  @media (max-width: 767px) {
    .cid-tTq0TJqiE3  .navbar-toggler {
      transform: scale(0.8);
    }
  }
  .cid-tTq0TJqiE3  .navbar-brand {
    flex-shrink: 0;
    align-items: center;
    margin-right: 0;
    padding: 10px 0;
    transition: all 0.3s;
    word-break: break-word;
    z-index: 1;
  }
  .cid-tTq0TJqiE3  .navbar-brand img {
    max-width: 100%;
    max-height: 100%;
  }
  .cid-tTq0TJqiE3  .navbar-brand .navbar-caption {
    line-height: inherit !important;
  }
  .cid-tTq0TJqiE3  .navbar-brand .navbar-logo a {
    outline: none;
  }
  .cid-tTq0TJqiE3  .navbar-nav {
    margin: auto;
    margin-left: 0;
    margin-left: auto;
  }
  .cid-tTq0TJqiE3  .navbar-nav .nav-item {
    padding: 0 !important;
    transition: 0.3s all !important;
  }
  .cid-tTq0TJqiE3  .navbar-nav .nav-item .nav-link {
    padding: 16px !important;
    margin: 0 !important;
    border-radius: 1rem !important;
    transition: 0.3s all !important;
  }
  .cid-tTq0TJqiE3  .navbar-nav .nav-item .nav-link:hover {
    background-color: rgba(27, 31, 10, 0.06);
  }
  .cid-tTq0TJqiE3  .navbar-nav .open .nav-link::after {
    transform: rotate(180deg);
  }
  @media (min-width: 992px) {
    .cid-tTq0TJqiE3  .navbar-nav .open .nav-link::before {
      content: "";
      width: 100%;
      height: 20px;
      top: 100%;
      background: transparent;
      position: absolute;
    }
  }
  .cid-tTq0TJqiE3  .navbar-nav .dropdown-item {
    padding: 12px !important;
    border-radius: 0.5rem !important;
    margin: 0 8px !important;
    transition: 0.3s all !important;
  }
  .cid-tTq0TJqiE3  .navbar-nav .dropdown-item:hover {
    background-color: rgba(27, 31, 10, 0.06);
  }
  @media (min-width: 992px) {
    .cid-tTq0TJqiE3  .navbar-nav {
      padding-left: 1.5rem;
    }
  }
  .cid-tTq0TJqiE3  .nav-link {
    width: fit-content;
    position: relative;
  }
  .cid-tTq0TJqiE3  .navbar-logo {
    margin: 0 !important;
  }
  @media (max-width: 767px) {
    .cid-tTq0TJqiE3  .navbar-logo {
      padding-left: 0;
    }
  }
  .cid-tTq0TJqiE3  .navbar-caption {
    padding-left: 1rem;
    padding-right: 0.5rem;
  }
  @media (max-width: 767px) {
    .cid-tTq0TJqiE3  .nav-dropdown {
      padding-bottom: 0.5rem;
    }
  }
  .cid-tTq0TJqiE3  .nav-dropdown .link.dropdown-toggle::after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    transition: 0.3s all;
  }
  .cid-tTq0TJqiE3  .container {
    display: flex;
    height: 90px;
    padding: 0.5rem 0.6rem 0.5rem 1rem;
    flex-wrap: nowrap;
    background: rgba(255, 255, 255, 0.8) !important;
    left: 0;
    right: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 100vw;
    margin-top: 1rem;
    background-color: #ffffff;
    box-shadow: 0 30px 60px 0 rgba(27, 31, 10, 0.08);
  }
  @media (max-width: 992px) {
    .cid-tTq0TJqiE3  .container {
      padding-right: 2rem;
    }
  }
  @media (max-width: 767px) {
    .cid-tTq0TJqiE3  .container {
      width: 95%;
      height: 56px !important;
      padding: 0.5rem;
      margin-top: 0rem;
    }
  }
  .cid-tTq0TJqiE3  .iconfont-wrapper {
    font-size: 1.5rem;
    padding-right: 0.5rem;
  }
  .cid-tTq0TJqiE3  .dropdown-menu {
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 100%;
    padding: 12px 4px !important;
    border-radius: 1.5rem;
    transition: 0.3s all !important;
    min-width: auto;
    background: #ffffff;
    background: rgba(255, 255, 255, 0.8) !important;
  }
  .cid-tTq0TJqiE3  .nav-item:focus,
  .cid-tTq0TJqiE3  .nav-link:focus {
    outline: none;
  }
  .cid-tTq0TJqiE3  .dropdown .dropdown-menu .dropdown-item {
    width: auto;
    transition: all 0.25s ease-in-out;
  }
  .cid-tTq0TJqiE3  .dropdown .dropdown-menu .dropdown-item::after {
    right: 0.5rem;
  }
  .cid-tTq0TJqiE3  .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
    margin-right: 0.5rem;
    vertical-align: sub;
  }
  .cid-tTq0TJqiE3  .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
    display: inline-block;
    transform: scale(1, 1);
    transition: all 0.25s ease-in-out;
  }
  .cid-tTq0TJqiE3  .collapsed .dropdown-menu .dropdown-item:before {
    display: none;
  }
  .cid-tTq0TJqiE3  .collapsed .dropdown .dropdown-menu .dropdown-item {
    padding: 0.235em 1.5em 0.235em 1.5em !important;
    transition: none;
    margin: 0 !important;
  }
  .cid-tTq0TJqiE3  .navbar {
    min-height: 90px;
    transition: all 0.3s;
    border-bottom: 1px solid transparent;
    background: transparent !important;
    padding: 0 !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
  }
  .cid-tTq0TJqiE3  .navbar.opened {
    transition: all 0.3s;
  }
  .cid-tTq0TJqiE3  .navbar .dropdown-item {
    padding: 0.5rem 1.8rem;
  }
  .cid-tTq0TJqiE3  .navbar .navbar-logo img {
    width: auto;
  }
  .cid-tTq0TJqiE3  .navbar .navbar-collapse {
    z-index: 1;
    justify-content: flex-end;
  }
  .cid-tTq0TJqiE3  .navbar.collapsed {
    justify-content: center;
  }
  .cid-tTq0TJqiE3  .navbar.collapsed .nav-item .nav-link::before {
    display: none;
  }
  .cid-tTq0TJqiE3  .navbar.collapsed.opened .dropdown-menu {
    top: 0;
  }
  @media (min-width: 992px) {
    .cid-tTq0TJqiE3  .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
      max-height: calc(98.5vh - 4.3rem);
    }
  }
  .cid-tTq0TJqiE3  .navbar.collapsed .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tTq0TJqiE3  .navbar.collapsed .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tTq0TJqiE3  .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 41%;
  }
  .cid-tTq0TJqiE3  .navbar.collapsed ul.navbar-nav li {
    margin: auto;
  }
  .cid-tTq0TJqiE3  .navbar.collapsed .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem;
    text-align: center;
  }
  .cid-tTq0TJqiE3  .navbar.collapsed .icons-menu {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  @media (max-width: 767px) {
    .cid-tTq0TJqiE3  .navbar {
      min-height: 72px;
    }
    .cid-tTq0TJqiE3  .navbar .navbar-logo img {
      height: 2.5rem !important;
    }
  }
  @media (max-width: 991px) {
    .cid-tTq0TJqiE3  .navbar .nav-item .nav-link::before {
      display: none;
    }
    .cid-tTq0TJqiE3  .navbar.opened .dropdown-menu {
      top: 0;
    }
    .cid-tTq0TJqiE3  .navbar .dropdown-menu .dropdown-submenu {
      left: 0 !important;
    }
    .cid-tTq0TJqiE3  .navbar .dropdown-menu .dropdown-item:after {
      right: auto;
    }
    .cid-tTq0TJqiE3  .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
      margin-left: 0.5rem;
      margin-top: 0.2rem;
      border-top: 0.35em solid;
      border-right: 0.35em solid transparent;
      border-left: 0.35em solid transparent;
      border-bottom: 0;
      top: 40%;
    }
    .cid-tTq0TJqiE3  .navbar .dropdown-menu .dropdown-item {
      padding: 0.25rem 1.5rem !important;
      text-align: center;
    }
    .cid-tTq0TJqiE3  .navbar .navbar-brand {
      flex-shrink: initial;
      flex-basis: auto;
      word-break: break-word;
      padding-right: 10px;
    }
    .cid-tTq0TJqiE3  .navbar .navbar-toggler {
      flex-basis: auto;
    }
    .cid-tTq0TJqiE3  .navbar .icons-menu {
      padding-left: 0;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }
  .cid-tTq0TJqiE3  .navbar.navbar-short .navbar-logo img {
    height: 2rem;
  }
  .cid-tTq0TJqiE3  .dropdown-item.active,
  .cid-tTq0TJqiE3  .dropdown-item:active {
    background-color: transparent;
  }
  .cid-tTq0TJqiE3  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
  }
  .cid-tTq0TJqiE3  .nav-dropdown .link.dropdown-toggle {
    margin-right: 1.667em;
  }
  .cid-tTq0TJqiE3  .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
    margin-right: 0;
    padding: 0.667em 1.667em;
  }
  .cid-tTq0TJqiE3  .navbar.navbar-expand-lg .dropdown .dropdown-menu {
    background: #ffffff;
  }
  .cid-tTq0TJqiE3  .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
    margin: 0;
    left: 105%;
    transform: none;
    top: -12px;
  }
  .cid-tTq0TJqiE3  .navbar .dropdown.open > .dropdown-menu {
    display: flex;
  }
  .cid-tTq0TJqiE3  ul.navbar-nav {
    flex-wrap: wrap;
  }
  .cid-tTq0TJqiE3  .navbar-buttons {
    text-align: center;
    min-width: 140px;
  }
  @media (max-width: 992px) {
    .cid-tTq0TJqiE3  .navbar-buttons {
      text-align: left;
    }
  }
  .cid-tTq0TJqiE3  button.navbar-toggler {
    outline: none;
    width: 31px;
    height: 20px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    align-self: center;
  }
  .cid-tTq0TJqiE3  button.navbar-toggler .hamburger span {
    position: absolute;
    right: 0;
    width: 30px;
    height: 2px;
    border-right: 5px;
    background-color: #000000;
  }
  .cid-tTq0TJqiE3  button.navbar-toggler .hamburger span:nth-child(1) {
    top: 0;
    transition: all 0.2s;
  }
  .cid-tTq0TJqiE3  button.navbar-toggler .hamburger span:nth-child(2) {
    top: 8px;
    transition: all 0.15s;
  }
  .cid-tTq0TJqiE3  button.navbar-toggler .hamburger span:nth-child(3) {
    top: 8px;
    transition: all 0.15s;
  }
  .cid-tTq0TJqiE3  button.navbar-toggler .hamburger span:nth-child(4) {
    top: 16px;
    transition: all 0.2s;
  }
  .cid-tTq0TJqiE3  nav.opened .hamburger span:nth-child(1) {
    top: 8px;
    width: 0;
    opacity: 0;
    right: 50%;
    transition: all 0.2s;
  }
  .cid-tTq0TJqiE3  nav.opened .hamburger span:nth-child(2) {
    transform: rotate(45deg);
    transition: all 0.25s;
  }
  .cid-tTq0TJqiE3  nav.opened .hamburger span:nth-child(3) {
    transform: rotate(-45deg);
    transition: all 0.25s;
  }
  .cid-tTq0TJqiE3  nav.opened .hamburger span:nth-child(4) {
    top: 8px;
    width: 0;
    opacity: 0;
    right: 50%;
    transition: all 0.2s;
  }
  .cid-tTq0TJqiE3  .navbar-dropdown {
    padding: 0 1rem;
  }
  .cid-tTq0TJqiE3  a.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cid-tTq0TJqiE3  .icons-menu {
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.3rem;
    text-align: center;
  }
  @media (max-width: 992px) {
    .cid-tTq0TJqiE3  .icons-menu {
      justify-content: flex-start;
      margin-bottom: 0.5rem;
    }
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .cid-tTq0TJqiE3  .navbar {
      height: 70px;
    }
    .cid-tTq0TJqiE3  .navbar.opened {
      height: auto;
    }
    .cid-tTq0TJqiE3  .nav-item .nav-link:hover::before {
      width: 175%;
      max-width: calc(100% + 2rem);
      left: -1rem;
    }
  }
  .cid-tTq0TJqiE3  .navbar .dropdown > .dropdown-menu {
    display: none;
    width: max-content;
    max-width: 500px !important;
    transform: translateX(-50%);
    top: calc(100% + 20px);
    left: 50%;
  }
  .cid-tTq0TJqiE3  .navbar .dropdown > .dropdown-menu .dropdown-item {
    line-height: 1 !important;
  }
  .cid-tTq0TJqiE3  .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
    align-items: center;
    display: flex;
    height: max-content !important;
    min-height: max-content !important;
  }
  .cid-tTq0TJqiE3  .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
    display: inline-block;
    position: static;
    margin-left: 0.5rem;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    transition: 0.3s all;
    transform: rotate(-90deg);
  }
  .cid-tTq0TJqiE3  .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
    transform: rotate(0deg);
  }
  .cid-tTq0TJqiE3  .mbr-section-btn {
    margin: -0.6rem -0.6rem;
  }
  .cid-tTq0TJqiE3  .navbar-toggler {
    margin-left: 12px;
    margin-right: 8px;
    order: 1000;
  }
  @media (max-width: 991px) {
    .cid-tTq0TJqiE3  .navbar-brand {
      margin-right: auto;
    }
    .cid-tTq0TJqiE3  .navbar-collapse {
      z-index: -1 !important;
      position: absolute;
      top: 110%;
      left: 0;
      width: 100%;
      padding: 1rem;
      border-radius: 1.5rem;
      background: #ffffff;
      opacity: 1;
      border-color: rgba(255, 255, 255, 0.8) !important;
      background: rgba(255, 255, 255, 0.8) !important;
      backdrop-filter: blur(8px);
    }
    .cid-tTq0TJqiE3  .navbar-nav .nav-item .nav-link::after {
      margin-left: 10px;
    }
    .cid-tTq0TJqiE3  .navbar-nav .dropdown-item:hover {
      background-color: rgba(27, 31, 10, 0.06);
    }
    .cid-tTq0TJqiE3  .navbar .dropdown > .dropdown-menu {
      max-width: 100% !important;
      transform: translateX(0);
      top: 10px;
      left: 0;
      padding: 8px !important;
      border-radius: 1rem;
      background-color: rgba(27, 31, 10, 0.04) !important;
    }
    .cid-tTq0TJqiE3  .navbar .dropdown > .dropdown-menu .dropdown-item {
      padding: 8px !important;
      line-height: 1 !important;
      margin-bottom: 4px !important;
    }
    .cid-tTq0TJqiE3  .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
      align-items: center;
      display: flex;
      height: max-content !important;
      min-height: max-content !important;
    }
    .cid-tTq0TJqiE3  .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
      display: inline-block;
      position: static;
      margin-left: 0.5rem;
      margin-top: 0;
      margin-right: 0;
      margin-bottom: 0;
      transition: 0.3s all;
      transform: rotate(0deg);
    }
    .cid-tTq0TJqiE3  .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
      transform: rotate(180deg);
    }
    .cid-tTq0TJqiE3  .navbar .dropdown > .dropdown-menu .dropdown-submenu {
      position: static;
      width: 100%;
      max-width: 100% !important;
      transform: translateX(0) !important;
      top: 0;
      left: 0;
      padding: 8px !important;
      border-radius: 1rem;
      background-color: rgba(27, 31, 10, 0.04) !important;
    }
    .cid-tTq0TJqiE3  .navbar .dropdown.open > .dropdown-menu {
      display: flex !important;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  @media (max-width: 575px) {
    .cid-tTq0TJqiE3  .navbar-collapse {
      padding: 1rem;
    }
  }


/* Styling for the landing page */
.cid-tTq0TJqHZM {
display: flex;
}
@media (min-width: 768px) {
.cid-tTq0TJqHZM {
  align-items: flex-end;
}
.cid-tTq0TJqHZM .row {
  justify-content: center;
}
.cid-tTq0TJqHZM .content-wrap {
  padding: 1rem 3rem;
}
}
@media (max-width: 991px) and (min-width: 768px) {
.cid-tTq0TJqHZM .content-wrap {
  min-width: 50%;
}
}
@media (max-width: 767px) {
.cid-tTq0TJqHZM {
  -webkit-align-items: center;
  align-items: flex-end;
}
.cid-tTq0TJqHZM .mbr-row {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-tTq0TJqHZM .content-wrap {
  width: 100%;
}
}
.cid-tTq0TJqHZM .mbr-fallback-image.disabled {
display: none;
}
.cid-tTq0TJqHZM .mbr-fallback-image {
display: block;
background-size: cover;
background-position: center center;
width: 100%;
height: 100%;
position: absolute;
top: 0;
background: #000000;
}
.cid-tTq0TJqHZM .mbr-section-title,
.cid-tTq0TJqHZM .mbr-section-subtitle {
text-align: left;
color: var(--dominant-color, #ffc091);
}
.cid-tTq0TJqHZM .mbr-text,
.cid-tTq0TJqHZM .mbr-section-btn {
text-align: center;
}
.cid-tTq0TJqHZM .mbr-section-title {
text-align: center;
}

/* Styling for About Us section */
.cid-tTq0TJrmwA {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tTq0TJrmwA .mbr-text {
  color: #000000;
}
.cid-tTq0TJrmwA .mbr-section-subtitle {
  color: #000000;
  line-height: 1.2;
}


/* Styling for Insurance in Pictures section */
.cid-tTq0TJr55c {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: transparent;
}
.cid-tTq0TJr55c .mbr-fallback-image.disabled {
  display: none;
}
.cid-tTq0TJr55c .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tTq0TJr55c .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-tTq0TJr55c .item {
    margin-bottom: 1rem;
  }
}
.cid-tTq0TJr55c .item-wrapper {
  height: 100%;
  position: relative;
}
.cid-tTq0TJr55c .item-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-tTq0TJr55c .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  border-radius: 50%;
  opacity: 0;
  color: #464845 !important;
  transform: translateX(-50%) translateY(-50%);
  background-color: #edefea !important;
  transition: 0.2s;
}
.cid-tTq0TJr55c .item-wrapper:hover .icon-wrapper {
  opacity: 1;
}
.cid-tTq0TJr55c .carousel-control,
.cid-tTq0TJr55c .close {
  background: #1b1b1b;
}
.cid-tTq0TJr55c .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-tTq0TJr55c .carousel-control-prev span {
  margin-right: 5px;
}
.cid-tTq0TJr55c .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-tTq0TJr55c .carousel-control-next span {
  margin-left: 5px;
}
.cid-tTq0TJr55c .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-tTq0TJr55c .close::before {
  content: '\e91a';
}
.cid-tTq0TJr55c .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-tTq0TJr55c .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-tTq0TJr55c .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tTq0TJr55c .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-tTq0TJr55c .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-tTq0TJr55c .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-tTq0TJr55c .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-tTq0TJr55c .carousel-indicators li.active,
.cid-tTq0TJr55c .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-tTq0TJr55c .carousel-indicators li::after,
.cid-tTq0TJr55c .carousel-indicators li::before {
  content: none;
}
.cid-tTq0TJr55c .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-tTq0TJr55c .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-tTq0TJr55c .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-tTq0TJr55c .carousel-indicators {
    display: none;
  }
}
.cid-tTq0TJr55c .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-tTq0TJr55c .carousel-inner > .active {
  display: block;
}
.cid-tTq0TJr55c .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tTq0TJr55c .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-tTq0TJr55c .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-tTq0TJr55c .carousel-control,
  .cid-tTq0TJr55c .carousel-indicators,
  .cid-tTq0TJr55c .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-tTq0TJr55c .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-tTq0TJr55c .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-tTq0TJr55c .carousel-indicators .active,
.cid-tTq0TJr55c .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-tTq0TJr55c .carousel-indicators .active {
  background: #fff;
}
.cid-tTq0TJr55c .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-tTq0TJr55c .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-tTq0TJr55c .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-tTq0TJr55c .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-tTq0TJr55c .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-tTq0TJr55c .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-tTq0TJr55c .carousel {
  width: 100%;
}
.cid-tTq0TJr55c .modal-backdrop.in {
  opacity: 0.8;
}
.cid-tTq0TJr55c .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-tTq0TJr55c .modal.fade .modal-dialog,
.cid-tTq0TJr55c .modal.in .modal-dialog {
  transform: none;
}
.cid-tTq0TJr55c .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-tTq0TJr55c .content-head {
  max-width: 800px;
}


/* Styling for Frequently Asked Questions section */
.cid-tTq0TJumTP {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: transparent;
}
.cid-tTq0TJumTP .mbr-iconfont {
  font-size: 1.2rem !important;
  font-family: 'Moririse2' !important;
  color: white;
  transition: all 0.3s;
  transform: rotate(180deg);
}
.cid-tTq0TJumTP .panel-group {
  border: none;
}
.cid-tTq0TJumTP .card-header {
  padding: 1.2rem 0.5rem;
}
@media (max-width: 767px) {
  .cid-tTq0TJumTP .card-header {
    padding: 1rem 0rem;
  }
}
.cid-tTq0TJumTP .panel-body {
  padding: 0 0.5rem;
  padding-bottom: 1rem;
}
@media (max-width: 767px) {
  .cid-tTq0TJumTP .panel-body {
    padding: 0rem;
    padding-bottom: 1rem;
  }
}
.cid-tTq0TJumTP .img-col {
  padding: 0;
}
.cid-tTq0TJumTP .img-item {
  height: 100%;
}
.cid-tTq0TJumTP img {
  height: 100%;
  object-fit: cover;
}
.cid-tTq0TJumTP .collapsed span {
  transform: rotate(0deg);
}
.cid-tTq0TJumTP .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-tTq0TJumTP p {
  margin-bottom: 0.3rem;
}
.cid-tTq0TJumTP .panel-title-edit {
  color: #e9c0e9;
}
.cid-tTq0TJumTP .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
  border: 0;
  border-radius: 2rem;
}
.cid-tTq0TJumTP .card {
  background: #ffffff;
  padding: 1rem 2rem;
  border-radius: 2rem;
}
@media (max-width: 767px) {
  .cid-tTq0TJumTP .card {
    padding: 1.5rem;
  }
}
.cid-tTq0TJumTP .panel-text {
  color: #000000;
}
.cid-tTq0TJumTP .mbr-section-title {
  text-align: center;
  color: #000000;
}
.cid-tTq0TJumTP .mbr-section-subtitle {
  color: #000000;
  text-align: center;
}
.cid-tTq0TJumTP .panel-title-edit,
.cid-tTq0TJumTP .mbr-iconfont {
  color: #000;
}


/* Styling for Stay Informed container */
.cid-tTq0TJu39V {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: var(--dominant-color, #260a30);
}
.cid-tTq0TJu39V input {
  padding: 1.2rem 1.5rem;
  border: none !important;
  height: 100%;
}
.cid-tTq0TJu39V input:hover {
  border: none !important;
}
.cid-tTq0TJu39V .btn {
  height: 100%;
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
@media (min-width: 992px) {
  .cid-tTq0TJu39V .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tTq0TJu39V .row {
  justify-content: center;
}
.cid-tTq0TJu39V .mbr-section-btn {
  display: flex;
  margin-bottom: 1.2rem;
  width: fit-content;
}
.cid-tTq0TJu39V .mbr-section-btn .btn {
  width: auto;
}
@media (max-width: 991px) {
  .cid-tTq0TJu39V .image-wrapper {
    margin-bottom: 2rem;
  }
  .cid-tTq0TJu39V .content-wrapper {
    flex-direction: column-reverse;
  }
}
.cid-tTq0TJu39V .justify-content-center {
  align-items: center;
}
.cid-tTq0TJu39V .mbr-section-title {
  text-align: center;
  color: var(--dominant-text, #ffd7ef);
}


/* Styling for call to join the conversation section */
.cid-tTq0TJvKVZ {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #ffffff;
}
.cid-tTq0TJvKVZ .mbr-fallback-image.disabled {
  display: none;
}
.cid-tTq0TJvKVZ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tTq0TJvKVZ .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tTq0TJvKVZ .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-tTq0TJvKVZ .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tTq0TJvKVZ .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tTq0TJvKVZ .mbr-section-title {
  color: #000000;
}
.cid-tTq0TJvKVZ .mbr-text,
.cid-tTq0TJvKVZ .mbr-section-btn {
  color: #000000;
}


/* Styling for the Testimonial section */
.cid-tTq0TJvniD {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tTq0TJvniD .mbr-fallback-image.disabled {
  display: none;
}
.cid-tTq0TJvniD .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tTq0TJvniD .mbr-iconfont {
  margin: auto;
  display: inline-flex;
  font-size: 2rem;
  color: var(--primary-color, #9fe870);
  width: 40px;
  justify-content: center;
  align-items: center;
}
.cid-tTq0TJvniD .card-title,
.cid-tTq0TJvniD .iconfont-wrapper {
  color: #232323;
}
.cid-tTq0TJvniD .card-text {
  color: #232323;
}
.cid-tTq0TJvniD .mbr-section-title {
  color: #232323;
}
.cid-tTq0TJvniD .mbr-section-subtitle {
  color: #232323;
}
.cid-tTq0TJvniD .content-head {
  max-width: 800px;
}

/* Styling for our Key Features section */
.cid-tTq0TJvwLk {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: transparent;
}
.cid-tTq0TJvwLk .item-wrapper img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50% !important;
}
.cid-tTq0TJvwLk .mbr-fallback-image.disabled {
  display: none;
}
.cid-tTq0TJvwLk .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tTq0TJvwLk .item-wrapper {
  background: #ffffff;
  margin-bottom: 2rem;
  padding: 2.25rem;
}
@media (max-width: 767px) {
  .cid-tTq0TJvwLk .item-wrapper {
    padding: 2rem 1.5rem;
    margin-bottom: 1rem;
  }
}
.cid-tTq0TJvwLk .card-title,
.cid-tTq0TJvwLk .iconfont-wrapper {
  color: #000000;
}
.cid-tTq0TJvwLk .content-head {
  max-width: 800px;
}
.cid-tTq0TJvwLk .mbr-section-title {
  color: #000000;
}
.cid-tTq0TJvwLk .mbr-section-subtitle {
  color: #000000;
}
.cid-tTq0TJvwLk .card-text {
  color: #000000;
}


/* Styling for our Recent Blog Posts section */
.cid-tTq0TJvt8y {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tTq0TJvt8y .item-subtitle {
  line-height: 1.2;
  color: #000000;
}
.cid-tTq0TJvt8y img,
.cid-tTq0TJvt8y .item-img {
  width: 100%;
  height: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-tTq0TJvt8y .item:focus,
.cid-tTq0TJvt8y span:focus {
  outline: none;
}
.cid-tTq0TJvt8y .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-tTq0TJvt8y .item {
    margin-bottom: 1rem;
  }
}
.cid-tTq0TJvt8y .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-tTq0TJvt8y .mbr-section-title {
  color: #000000;
}
.cid-tTq0TJvt8y .mbr-text,
.cid-tTq0TJvt8y .mbr-section-btn {
  color: #000000;
}
.cid-tTq0TJvt8y .item-title {
  color: #000000;
}
.cid-tTq0TJvt8y .item-subtitle,
.cid-tTq0TJvt8y .item-subtitle a {
  color: #000000;
}
.cid-tTq0TJvt8y .content-head {
  max-width: 800px;
}


/* Styling for Join Now section */
.cid-tTq0TJvPHB {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("assets/images/photo-1516733725897-1aa73b87c8e8.jpeg");
}
.cid-tTq0TJvPHB .mbr-fallback-image.disabled {
  display: none;
}
.cid-tTq0TJvPHB .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tTq0TJvPHB .card-wrapper {
  background: var(--primary-color, #333333);
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-tTq0TJvPHB .card-wrapper {
    padding: 2rem 1.5rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tTq0TJvPHB .card-wrapper {
    padding: 2.25rem;
  }
}
@media (min-width: 992px) {
  .cid-tTq0TJvPHB .card-wrapper {
    padding: 4rem;
  }
}
.cid-tTq0TJvPHB .mbr-text,
.cid-tTq0TJvPHB .mbr-section-btn {
  text-align: left;
}
.cid-tTq0TJvPHB .card-title {
  text-align: left;
  color: var(--primary-text, #ffd7ef);
}


/* Styling for Our Journey section */
.cid-tTq0TJvZ6y {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tTq0TJvZ6y .mbr-text {
  color: #000000;
  text-align: left;
}
.cid-tTq0TJvZ6y .mbr-section-subtitle {
  color: #000000;
  text-align: left;
}
.cid-tTq0TJvZ6y .mbr-section-title {
  text-align: left;
  color: #000000;
}
.cid-tTq0TJvZ6y .mbr-card-title {
  color: #000000;
}
.cid-tTq0TJvZ6y .mbr-card-subtitle {
  color: #000000;
}

/* Styling for Social Media Icons */
.cid-tTq0TJvOri {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-tTq0TJvOri .container {
    padding: 0 16px;
  }
}
@media (max-width: 767px) {
  .cid-tTq0TJvOri .container {
    padding: 0 12px;
  }
}
.cid-tTq0TJvOri .social-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cid-tTq0TJvOri .social-row .soc-item {
  margin: 8px;
}
.cid-tTq0TJvOri .social-row .soc-item a:hover .mbr-iconfont,
.cid-tTq0TJvOri .social-row .soc-item a:focus .mbr-iconfont {
  background-color: #f7f7f7;
}
.cid-tTq0TJvOri .social-row .soc-item a .mbr-iconfont {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 32px;
  background-color: #f7f7f7;
  color: var(--primary-color, #393193);
  transition: all 0.3s ease-in-out;
}
.cid-tTq0TJvOri .row-links {
  width: 100%;
  justify-content: center;
}
.cid-tTq0TJvOri .mbr-section-title {
  color: #ffffff;
}
.cid-tTq0TJvOri .mbr-section-title,
.cid-tTq0TJvOri .social-list {
  color: #000000;
}


/* Styling for Get in Touch form */
.cid-tTq0TJvNgv {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: transparent;
}
.cid-tTq0TJvNgv .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-tTq0TJvNgv form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-tTq0TJvNgv form .mbr-section-btn .btn {
  display: inline-flex;
}
@media (max-width: 991px) {
  .cid-tTq0TJvNgv form .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-tTq0TJvNgv .content-head {
  max-width: 800px;
}


/* Styling for Contact Us form */
.cid-tTq0TJvdDr {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: transparent;
}
.cid-tTq0TJvdDr .mbr-fallback-image.disabled {
  display: none;
}
.cid-tTq0TJvdDr .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 767px) {
  .cid-tTq0TJvdDr .row .map-wrapper {
    margin-top: 1rem;
  }
}
.cid-tTq0TJvdDr .google-map {
  height: 100%;
  position: relative;
}
.cid-tTq0TJvdDr .google-map iframe {
  height: 100%;
  width: 100%;
}
@media (max-width: 767px) {
  .cid-tTq0TJvdDr .google-map iframe {
    min-height: 350px;
  }
}
.cid-tTq0TJvdDr .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-tTq0TJvdDr .google-map[data-state] {
  background: #e9e5dc;
}
.cid-tTq0TJvdDr .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-tTq0TJvdDr .card-wrapper {
  background: #ffffff;
}
@media (max-width: 767px) {
  .cid-tTq0TJvdDr .card-wrapper {
    padding: 2rem 1.5rem;
  }
}
@media (min-width: 768px) {
  .cid-tTq0TJvdDr .card-wrapper {
    padding: 2.25rem;
  }
}
.cid-tTq0TJvdDr .text-wrapper {
  padding: 0 1rem;
}
.cid-tTq0TJvdDr ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.cid-tTq0TJvdDr .content-head {
  max-width: 800px;
}
.cid-tTq0TJvdDr .mbr-section-title {
  color: #000000;
}

/* Styling for Footer section */
.cid-tTq0TJvbP7 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
  overflow: hidden;
}